header { /* Ver Index.css */
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
body {
	background-color: #06e;
}
#headercontainer ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fd6900;
	width: 100%;
}
#headercontainer li a{
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
}
#headercontainer li a:hover {
	color: yellow;
}
#Container {
    padding-top: 40px;
    display: block;
    width: 1080px;
    background-color: white;
    margin: auto;
    height: 100%;
}
#comic1 {
    padding-top: 25px;
    padding-bottom: 25px;
    display:block;
    margin:auto;
}
#separador {
    width: 100%;
}

